@model ProductModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<input type="hidden" asp-for="Code"/>

<div class="container-fluid">
    <div class="row mb-3">
        <label class="col-md-2 col-form-label text-nowrap">@Html.DisplayNameFor(x=>x.ProductName)</label>
        <div class="col-md-10">
            @Html.TextBoxFor(x => x.ProductName, null, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.ProductName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-md-2 col-form-label text-nowrap">@Html.DisplayNameFor(x=>x.Unit)</label>
        <div class="col-md-10">
            @Html.TextBoxFor(x => x.Unit, null, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Unit, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-md-2 col-form-label text-nowrap">@Html.DisplayNameFor(x=>x.Price)</label>
        <div class="col-md-10">
            @Html.TextBoxFor(x => x.Price, null, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Price, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-md-2 col-form-label text-nowrap">@Html.DisplayNameFor(x=>x.Remarks)</label>
        <div class="col-md-10">
            @Html.TextAreaFor(x => x.Remarks, 3, 5, new { @class = "form-control" })
        </div>
    </div>
</div>